[submodule "amplifier-app-cli"]
	path = amplifier-app-cli
	url = https://github.com/microsoft/amplifier-app-cli
	branch = main
[submodule "amplifier-core"]
	path = amplifier-core
	url = https://github.com/microsoft/amplifier-core
	branch = main
[submodule "amplifier-module-context-simple"]
	path = amplifier-module-context-simple
	url = https://github.com/microsoft/amplifier-module-context-simple
	branch = main
[submodule "amplifier-module-loop-streaming"]
	path = amplifier-module-loop-streaming
	url = https://github.com/microsoft/amplifier-module-loop-streaming
	branch = main
[submodule "amplifier-module-provider-openai"]
	path = amplifier-module-provider-openai
	url = https://github.com/microsoft/amplifier-module-provider-openai.git
	branch = main
[submodule "amplifier-profiles"]
	path = amplifier-profiles
	url = https://github.com/microsoft/amplifier-profiles
	branch = main
[submodule "amplifier-config"]
	path = amplifier-config
	url = https://github.com/microsoft/amplifier-config
	branch = main
[submodule "amplifier-app-benchmarks"]
	path = amplifier-app-benchmarks
	url = https://github.com/DavidKoleczek/amplifier-app-benchmarks.git
[submodule "amplifier-module-tool-bash"]
	path = amplifier-module-tool-bash
	url = https://github.com/microsoft/amplifier-module-tool-bash
	branch = main
[submodule "amplifier-module-tool-todo"]
	path = amplifier-module-tool-todo
	url = https://github.com/microsoft/amplifier-module-tool-todo
	branch = main
[submodule "amplifier-collection-recipes"]
	path = amplifier-collection-recipes
	url = https://github.com/microsoft/amplifier-collection-recipes
	branch = main
